h1{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: burlywood;
 text-align: center;
}

label{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: wheat;
}

.c{
 align-items: center;
 text-align: center;
}

img{
 width: auto;
 height: auto;
}

.b{
 background-color: steelblue;
}