.imagenes {
 text-align: center;
}
.imagenes img{
 width:25%;
 border-radius: 10px;
}

.contenido{
 max-width: 700px;
 margin: 0 auto;
 display: flex;
 background-color: white;
 padding-left: 15px;
}


.izquierda p{
 text-align: justify;
 padding-right: 25px;
}

