#Imagen{
 width: 200px;
 height: 300px;
}

body{
 background-color: wheat;
}
.cont{
 display: flex;
 align-items:flex-end;
 text-align: center;
 align-content: center;
 
}

h2{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color:blueviolet;
}
.cont button{
 display: block;
 background-color: aqua;
 border-radius: 15px;
 margin: 15px;
}